/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

//variables
$text-color: #a0a6c4;
$body-background-color: #24283d;
$element-background-color: #1f2235;
$dark-hover-variance: #181b2a;
$placeholder-text: #525778;
