@use './base';

body {
	-webkit-font-smoothing: antialiased;
	background-color: base.$body-background-color !important;
	background-attachment: fixed;
	background-image: url('assets/images/landscape.svg');
	background-position: left 105%;
	background-repeat: no-repeat;
	background-size: contain;
	color: base.$text-color;
}

div.dropdown-menu,
div.modal-content {
	background-color: base.$element-background-color;
}

div.dropdown-menu a,
div.modal-content {
	color: base.$text-color;
}

div.dropdown-menu a:hover {
	background-color: base.$dark-hover-variance;
	color: base.$text-color;
}

div.modal-footer {
	border-top: 1px solid base.$dark-hover-variance;
}

::-webkit-input-placeholder {
	color: base.$placeholder-text !important;
}

input:focus {
	outline: none;
}
